<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/EasyStarPhaserIso" version="1.0.0" viewmodes="fullscreen">
    <tizen:application id="F12F1dkpB1.EasyStarPhaserIso" package="F12F1dkpB1" required_version="2.3"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>EasyStarPhaserIso</name>
    <tizen:profile name="mobile"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
